.group .group__title {
	font-size: 2.56rem;
	text-align: center;
}
.cardCont {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	padding: 5px 20px;
}

.card .card-image {
	max-height: 217px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card .card-content {
	padding: 10px 24px;
}

.card .card-content .card-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}

.card .card-reveal {
	padding: 4px 24px;
}

.card .card-reveal .card-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.collection li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.addressCont__span {
	text-align: end;
	display: block;
	font-size: 0.8em;
	line-height: 1.3;
	color: #e7e5e5;
}

@media (min-width: 575.98px) {
	.cardCont {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 767.98px) {
	.cardCont {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 35px;
	}
}
